<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña-PetLittle</title>
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <link rel="stylesheet" href="stylesrecuperar.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>
<body>

<div class="container">
    <h2>Recuperar Contraseña</h2>
    <p>Ingresa tu correo y te enviaremos un código de recuperación.</p>
    <form id="form-recuperacion">
        <input type="email" id="email" placeholder="Tu correo" required>
        <button type="submit">Enviar</button>
    </form>
    <p id="mensaje"></p>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    emailjs.init("EkcNSJxO3Pzsm-df1"); 

    document.getElementById("form-recuperacion").addEventListener("submit", function(event) {
        event.preventDefault();
        const email = document.getElementById("email").value;

        
        const codigo = Math.floor(100000 + Math.random() * 900000);

        localStorage.setItem("codigo_recuperacion", codigo);
        localStorage.setItem("correo_recuperacion", email);

        emailjs.send("service_c6kih0s", "template_7zjw02d", {
            to_email: email,
            recovery_code: codigo
        })
        .then(function(response) {
            document.getElementById("mensaje").textContent = "Correo enviado con éxito.";
            
            setTimeout(() => {
                window.location.href = "verificar.html";
            }, 2000);
        }, function(error) {
            document.getElementById("mensaje").textContent = "Error al enviar. Inténtalo de nuevo.";
            console.error("Error:", error);
        });
    });
});
</script>

</body>
</html>
