<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorios Clinicos</title>
    <link rel="stylesheet" href="../../assets/css/laboratorios.css">
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../assets/img/Logo blanco.png" alt="logo" class="logo-img">
        </div>

        <div class="usuario-info">
            <img src="../../assets/img/usuario.png" alt="usuario" class="usuarioimg">
        </div>

    </header>
    <aside>
        <ul>
            <li><a href="agendamiento.php">Volver</a></li>
            <li><a href="agendamientocalendario.php">Agendar Cita</a></li>
            <li><a href="">Citas Agendadas</a></li>
            <li><a href="ordenes_pendientes.html">Ordenes pendientes</a></li>
        </ul>
    </aside>

    <main>
        <table>
            <thead>
                <tr>
                <th>Fecha</th>
                <th>Paciente</th>
                <th>Propietario</th>
                <th>Pruebas</th>
                <th>Laboratorio</th>
                <th>Estado</th>
                <th>Acciones</th>
                </tr>
            </thead>
            <tr>
                <td>2025-04-05</td>
                <td>Max</td>
                <td>Ana Lopez</td>
                <td>Hemograma</td>
                <td>Laboratorio A</td>
                <td><span class="estado-pendiente">Pendiente</span></td>
                <td><button class="btn-ver">Descargar Orden</button></td>
            </tr>
        </table>
    </main>
</body>
</html>